# 由 setup 脚本补上 tunnel / credentials-file
ingress:
  - hostname: bgmapi.erichuanp.com
    service: http://127.0.0.1:8080
  - hostname: bgmimg.erichuanp.com
    service: http://127.0.0.1:8080
  - service: http_status:404
